@import "/src/styles/mixins/padding.scss";
@import "/src/styles/mixins/responsive.scss";
@import "/src/styles/mixins/fonts.scss";
@import "/src/styles/mixins/colors.scss";


.container {
  
  @include Padding;
  height: 100vh;
  padding-top: 219px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("/images/bannerWelcome.svg"); 
  background-repeat: no-repeat;
  background-size: cover; //rever
  position: relative;
  
  
  .shadow{
    width: 95%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.915), rgba(0, 0, 0, 0.744), transparent);
    position: absolute;
    z-index: 1;
  }


  span {
    color: $red-color;
    font-weight: 600;


  }

  @include Phone {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    

  }

  @include Tablet {
    height: 100%;
    margin-bottom: 4rem;
    padding-top: 4rem;
    
  }

  @include Laptop {
    padding-top: 6rem;

  }
}

.text {
  text-shadow: 4px 1px 7px black;
  z-index: 2;
  
 
  h1 {
    @include SizeExtra;
    font-weight: bold;
    color: $red-color;
   

  }

  p {
    @include SizeNormal;

  }
}

.image {
  text-align: end;

  @include Phone {
    text-align: center;
    grid-column: 1;
    grid-row: 1;



  }


}