@import "/src/styles/mixins/colors.scss";
@import "/src/styles/mixins/padding.scss";
@import "/src/styles/mixins/responsive.scss";

.container {
  @include Padding;
  color: $white-color;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: transparent;
  border-bottom: 0.5px solid $gray-color;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(10px);
  
 



  @include Phone {
    padding-top: 1rem;
    padding-bottom: 1rem;


  }

  @include Tablet {
    grid-template-columns: repeat(2, 1fr);

  }

  @include Laptop {
    grid-template-columns: repeat(3, auto);

  }
}



.menu {

  font-size: 22px;


  a+a {
    margin-left: 38.9px;

  }

  @include Phone {
    display: none;

  }


}

.action {
  text-align: end;

  @include Phone {
    display: none;
  }

  @include Tablet {
    display: none;
  }


}

.scrolled {
  background-color: transparent; 
   
}

