@import "/src/styles/mixins/padding.scss";
@import "/src/styles/mixins/colors.scss";
@import "/src/styles/mixins/responsive.scss";
@import "/src/styles/mixins/fonts.scss";

.container {
  @include Padding;
  padding-top: 72px;
  background-color: $cinza-claro;
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-radius: 20px;


  @include Phone {
    grid-template-columns: 1fr;
    padding-top: 1rem;
    gap: 1rem;

  }
}

.column {
  margin-top: 4.5rem;

  &.columnPrincipal {
    margin-top: 0px;
  }

  .title {
    @include SizeNormal;
    color: $white-color;
  }

  h1 {
    @include SizeSmall;
    color: $red-color;
  }

  p {
    @include SizeSmall;
  }

  &.alignRight {
    text-align: right;
  }

 

  @include Phone {
    margin-top: 0px;

    &.alignRight {
      text-align: left;
    }
  }
}

.allRightReserved {
  @include SizeSmall;
  padding: 6rem 0 1rem;
  color: $gray-color;
  grid-column: span 4;
  text-align: center;
 p{
  color: $white-color;
 }

  @include Phone {
    grid-column: 1;
  }
}