$purple-color: #000000;
$gray-color: #00000000;
$gray-color2:#000000;
$green-color:#25D366;
$green-color2:#25D366;
$white-color: #FFFF;
$gray-color3: #000000;
$gray-color4: #f7f7f7;
$gray5-color: #000000;
$footer-color: #26003b;
$red-color:#ec4046;
$cinza-claro: #111317;
