$purple-color: #000000;
$gray-color: #00000000;
$gray-color2:#000000;
$green-color:#25D366;
$green-color2:#25D366;
$white-color: #FFFF;
$gray-color3: #000000;
$gray-color4: #f7f7f7;
$gray5-color: #000000;
$footer-color: #26003b;
$red-color: #f14b4b;
$cinza-claro: #111317;



@mixin cor-opaca{
color: rgba($color: #ffff, $alpha: 0.9);

}

@mixin cor-span{

color: $red-color;
opacity: 1;
font-weight: 900;
font-style: italic;
}